@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.header-container h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--bg-blue);
}

.header-container div {
  display: flex;
  gap: 24px;
}
.header-container div > button {
  padding: 8px;
  background: var(--bg-light);
  border: none;
  border-radius: 20px;
}

@media only screen and (max-width: 388px) {
   
.header-container h1 {
    font-size: 16px;
    }
    
.header-container div > .darkmode {
    padding: 0;
    width: 39px;
    font-size: 10px;
  }
  }
  