.header-container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.header-container h1 {
    color: red;
    font-weight: 600;
}
.header-container div
{
    display: flex;
    gap: 24px;
}
.header-container div > button {
    padding: 8px;
    background: white;
    border: none;
    border-radius: 6px;
  
}