@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.header-container h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--bg-blue);
}

.header-container div {
  display: flex;
  gap: 24px;
}
.header-container div > button {
  padding: 8px;
  background: var(--bg-light);
  border: none;
  border-radius: 20px;
}
