.footer-container {
  width: 100%;
  padding: 25px;
  background-color: black;
  color: #757575;

}
.footer-container-dark {
  background-color: white;
  color: #757575;
}
.row {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.grid-box {
  width: 100%; 
  padding-top: 20px;
}

.grid-box p {
  padding-bottom: 10px;
}
