.footer-container {
  width: 100%;
  padding: 25px;
  color: var(--bg-blue);
  border-top: 3px solid var(--bg-blue);
}

.footer-container-dark {
  background-color: white;
  color:var(--bg-blue);
  border-top: 3px solid var(--bg-blue);
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.grid-box {
  width: 100%;
  padding-top: 20px;
}

.grid-box p {
  padding-bottom: 10px;
}

.select-button {
  background: var(--bg-dark);
  color: var(--bg-blue);
  padding: 8px;
  border: solid 1px var(--bg-light);
}
.select-button-dark {
  background: var(--bg-light);
  color: var(--bg-blue);
  padding: 8px;
  border: solid 1px var(--bg-dark);
}
